<%- include('../partials/head') %>%>
<h1>All Farms</h1>
<%- farms.length===0 ? "<h2>Didn't find anything</h2>":"" %>
<div class="row">
   <% for(let farm of farms){%>
   <div class="col-sm-auto mb-3" style="min-width: 220px;">
      <div class="card">
         <div class="card-body">
            <h5 class="card-title">
               <%= farm.name %>
            </h5>
            <p class="card-text">City: <%= farm.city %>
            </p>
            <a href="/farms/<%= farm._id %>" class="btn btn-primary">Details</a>
         </div>
      </div>
   </div>
   <% } %>
</div>
<%- include('../partials/footer') %>
